{% extends 'users/auth/standard_form.html' %}
{% block fields %}
    <div class="form-row">
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }} {{ form.old_password }}
    </div>

    <div class="form-row">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
        <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
    </div>

    <div class="form-row">
    {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
        <div class="help">{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
    </div>
{% endblock fields %}
{% block submit %}Изменить пароль{% endblock submit %}
