{% extends 'users/auth/standard_form.html' %}
{% block submit %}Восстановить пароль{% endblock submit %}
{% block fields %}
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Новый пароль:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Подтвердите пароль:</label>
        {{ form.new_password2 }}
    </div>
{% endblock fields %}
