:root{
    /* Основной Цвет: */
    --main-color: #00CC00;
    --main-dark-color: #269926;
    --main-darker-color: #008500;
    --main-light-color: #39E639;
    --main-lighter-color: #67E667;

    /* Вторичный Цвет A: */
    --second-color: #009999;
    --second-dark-color: #1D7373;
    --second-darker-color: #006363;
    --second-light-color: #33CCCC;
    --second-lighter-color: #5CCCCC;

    /* Вторичный Цвет B: */
    --third-color: #FF7400;
    --third-dark-color: #BF7130;
    --third-darker-color: #A64B00;
    --third-light-color: #FF9640;
    --third-lighter-color: #FFB273;

    /* Дополнительный Цвет: */
    --additional-color: #FF0000;
    --additional-dark-color: #BF3030;
    --additional-darker-color: #A60000;
    --additional-light-color: #FF4040;
    --additional-lighter-color: #FF7373;
}

html, body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
}

