{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ category.name }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock head %}
{% block content %}
    <h1 style='background-color: {{ category.color }}'>{{ category.name }}</h1>
    {% include 'posts/posts.html' %}
{% endblock content %}
{% block 'scripts' %}
    <script>
        const like_url = '{% url "estimation:post_like" %}';
        const dislike_url = '{% url "estimation:post_dislike" %}';
        const check_estimated_url = '{% url "estimation:check_estimated" %}';
    </script>
    <script src="{% static 'js/estimation.js' %}"></script>
{% endblock 'scripts' %}