{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Создать пост{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/newpost.css' %}">
{% endblock head %}
{% block content %}
    <div class="card">
        <div class="card-header bg-info text-white">
            <h4 class='m-0'>Создать пост</h4>
        </div>
        <div class="card-body">
            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <input class='btn btn-primary' type="submit" value="Создать">
            </form>
        </div>
    </div>
{% endblock content %}
