{% extends 'base.html' %}
{% load comments %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock head %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{ post.title }}</h1>
            {% if post.category %}
                <p class="lead">Категория: <span class='badge badge-light' style='background-color: {{ post.category.color }}'>{{ post.category }}</span></p>
            {% endif %}
            <hr class="my-4">
            {% autoescape off %}
                <p>{{ post.text }}</p>
            {% endautoescape %}
            {% if images %}
                <h3>Дополнительные фотографии к публикации:</h3>
                <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% with images|first as image %}
                                
                                <img src="{{ image.get_image_1200x1200.url }}" class="d-block w-100" alt="Здесь должна быть картинка">
                            {% endwith %}
                        </div>
                        {% for image in images|slice:'1:' %}
                            <div class="carousel-item">
                                <img src="{{ image.get_image_1200x1200.url }}" class="d-block w-100" alt="Здесь должна быть картинка">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Предыдущий</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Следующий</span>
                    </a>
                </div>
            {% endif %}
            <p class='lead'>
                {% for tag in post.tags.all %}
                    <span class='text-muted'>#{{ tag.name }} </span>
                {% endfor %}
            </p>
            <footer class="d-flex flex-column align-items-end">
                <a href="{{ post.author.get_absolute_url }}" class=''>
                    {{ post.author.username }}
                </a>
                <div class="text-muted">{{ post.creation_date }}</div>
                {% include 'include/estimation.html' %}
            </footer>
        </div>
    </div>
    <div class='comments'>
        {% if user.is_authenticated %}
            {% get_comment_form for object as form %}
            {% comment_form_target as comment_form_target_value %}
            {% with next=post.get_absolute_url %}
                {% include 'include/comment_form.html' %}
            {% endwith %}
        {% else %}
            <p class='unauthenticated_warning'>Пожалуйста, <a href="{% url 'login' %}">авторизуйтесь</a>, чтобы оставить комментарий.</p>
        {% endif %}
        {% get_comment_list for post as comment_list %}
        {% for comment in comment_list %}
            {% include 'include/comment.html' %}
        {% endfor %}
    </div>
{% endblock content %}
{% block 'scripts' %}
    <script>
        const like_url = '{% url "estimation:post_like" %}';
        const dislike_url = '{% url "estimation:post_dislike" %}';
        const check_estimated_url = '{% url "estimation:check_estimated" %}';
    </script>
    <script src="{% static 'js/estimation.js' %}"></script>
{% endblock 'scripts' %}
