{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web project{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrapmin.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block head %}{% endblock head %}
</head>
<body class='d-flex flex-column min-vh-100'>
    {% include 'header.html' %}
    <main>
        {% block content %}
            Контент забрали инопланетяне :(
        {% endblock content %}
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'js/jquery.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
