.posts {
    display: flex;
    flex-direction: column;
}
aside {
    display: flex;
    flex-direction: column;
}
aside a, aside a:hover {
    width: 100%;
    text-decoration: none;
    color: black;
}
#newpost {
    margin: 2vh auto;
    font-size: larger;
}
main{
    padding: 10px;
}
