{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    {% for group_of_users in users|divide:4 %}
        <div class="row d-flex justify-content-center mt-4 mb-4">
            {% for user in group_of_users %}
                <div class="card-deck col-lg-3 col-md-4 col-12">
                    <div class="card">
                        <a href="{{ user.get_absolute_url }}">
                            {% if user.avatar %}
                                <img class="card-img-top" src="{{ user.avatar.url }}">
                            {% else %}
                                <img class="card-img-top" src="{% static 'images/user.jpg' %}">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ user.username }}</h5>
                            <p class="card-text">{{ user.description|truncatechars:150 }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Зарегистрирован(а) {{ user.date_joined }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
