{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/user_list.css' %}">
{% endblock head %}
{% block content %}
    <form method='post'>
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Здесь вы можете найти пользователя по нику..." aria-describedby="basic-addon2" name='input'>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">🔎</button>
            </div>
        </div>
    </form>
    <div class="row d-flex mt-4 mb-4">
        {% for user in users %}
        <div class="col-12 col-sm-6 col-lg-3">    
            <div class="container mt-5 d-flex justify-content-center">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="image">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" class="rounded" width="80" >
                    {% else %}
                        <img src="{% static 'images/user.jpg' %}" class="rounded" width="80" >
                    {% endif %}
                    </div>
                    <div class="ml-3 w-100">
                       <h4 class="mb-0 mt-0">{{ user.username }}</h4>
                       <span>{{ user.description|default:''|truncatechars:24 }}</span>
                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column">
                            <span class="articles">Посты</span>
                            <span class="number1">{{ user.posts }}</span>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="followers">Подписчики</span>
                            <span class="number2">{{ user.followers }}</span> 
                        </div>
                        <div class="d-flex flex-column">
                            <span class="rating">Подписки</span>
                            <span class="number3">{{ user.following }}</span>  
                        </div>   
                    </div>
                       <div class="button mt-2 d-flex flex-row align-items-center">
                        <a class="btn btn-sm btn-primary w-100 ml-2" href="{% url 'users:user_detail' user.username %}">Профиль</a>               
                       </div>
                    </div>                 
                    </div>
              </div>   
             </div>
            </div>
        {% empty %}
            <h3>К сожалению, по вашему запросу мы не смогли ничего найти...</h3>
        {% endfor %}
        </div>
{% endblock content %}
