<div class="post">
    <div class="card">
        <div class="card-header" style="background-color: {{ post.category.color }}">
            <h4>{{ post.title }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.category|default:"" }}</h5>
            {% autoescape off %}
                <p class="card-text">{{ post.text|truncatechars:140 }}</p>
            {% endautoescape %}
            <h6 class="card-subtitle mb-2 text-muted">
                {% for tag in post.tags.all %}
                    <a href="{{ tag.get_absolute_filter_url }}">#{{ tag }}</a>
                {% endfor %}
                {{post.tag}}
            </h6>
            {% include 'include/estimation.html' %}
            <footer class="blockquote-footer">
                <a href="{% url 'users:user_detail' post.author %}">
                    @{{ post.author }}
                </a>
            </footer>
        </div>
        <div class="card-footer">
            <div class='row justify-content-between align-items-center'>
                <div class="col">
                    <div class="text-muted">{{ post.creation_date }}</div>
                </div>
                <div class="col d-flex justify-content-end">
                    <a class='btn btn-primary' href="{% url 'posts:postdetail' post.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
