<div class="post">
    <div class="card">
        <div class="card-header" style="background-color: {{ post.category.color }}">
            <h4>{{ post.title }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.category }}</h5>
            {% autoescape off %}
                <p class="card-text">{{ post.text|truncatechars:140 }}</p>
            {% endautoescape %}
            <h6 class="card-subtitle mb-2 text-muted">
                {% for tag in post.tags.all %}
                    #{{ tag }}
                {% endfor %}
            </h6>
            <footer class="blockquote-footer">
                <a href="{{ post.author.get_absolute_url }}">
                    @{{ post.author.username }}
                </a>
            </footer>
        </div>
        <div class="card-footer">
            <div class='row justify-content-between align-items-center'>
                <div class="col">
                    <div class="text-muted">{{ post.creation_date }}</div>
                </div>
                <div class="col d-flex justify-content-end">
                    <a class='btn btn-primary' href="{{ post.get_absolute_url }}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
